# Directorios de salida de compilación
.gradle/
build/
app/build/

# Archivos de configuración de IDE (Android Studio / IntelliJ IDEA)
.idea/
*.iml
local.properties
.DS_Store # Archivos específicos de macOS

# Archivos de depuración y log
*.log
captures/
*.apk
*.aab
*.aar
*.ap_
*.dex
*.class
*.ipr
*.iws
*.jks
*.keystore

# Archivos de compilación nativa (CMake/NDK)
.cxx/
.externalNativeBuild/

# Configuraciones de Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

